{{#partial "content"}}
        <nav class="navbar justify-content-end bg-dark">
            <ul class="nav">
                <a class="nav-item nav-link" href="/"><li>HOME</li></a>
                <a class="nav-item nav-link" href="/wildlife/new"><li>TRACK ANIMALS</li></a>
                <a class="nav-item nav-link" href="/all-animals"><li>ALL ANIMALS</li></a>
                <a class="nav-item nav-link" href="/sightings"><li>SIGHTINGS</li></a>

            </ul>
        </nav>
        {{#if animals}}
            <h2 class="text-center" style="color:white;">Common animals</h2>
            <div class="container">
                <div class="row">
                    {{#each animals}}
                        <div class="col-md-4">
                            <div class="card p-4 mt-2">
                                <h3>Animal species: {{name}}</h3>
                                <p>Type: {{type}}</p>
                                <p>{{location}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <hr class="mt-4 mb-4">
        {{else}}
            <h1 class="text-center">No animal to track.</h1>
        {{/if}}
        {{#if endangeredAnimals}}
            <h2 class="text-center" style="color: red">Endangered animals</h2>
            <div class="container">
                <div class="row">
                    {{#each endangeredAnimals}}
                        <div class="col-md-4">
                            <div class="card p-4 mt-2">
                                <h3>Animal species: {{name}}</h3>
                                <p>Type: {{type}}</p>
                                <p>Age: {{age}}</p>
                                <p>Health status: {{health}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{else}}
            <h2>No endangered animal at the moment</h2>
        {{/if}}
{{/partial}}
{{>layout.hbs}}